// Variables

$webchat-width: 33.33%;
$iframe-width: 100 - $webchat-width;

// ========================================
// Iframe
// ========================================

.iframe-container {
	width: $iframe-width;
	position: fixed;

	// Enaable scrolling on iOS
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;

	iframe {
		height: 100%;
		width: 100%;
	}

	@include media (mobile) {
		width: 100%;
		// Collapse iframe by default - webchat covers it
		display:none;
	}
}

// Place iframe on opposite side
.iframe-container[data-webchat-position=left] {
	left: $webchat-width;
	@include media (mobile) {
		left: 0;
	}
}

// Show iframe on mobile when webchat hidden
.webchat-hidden .iframe-container {
	@include media (mobile) {
		display:block;
	}
}

// ========================================
// Webchat
// ========================================

.webchat__container {
	// Enaable scrolling on iOS
	-webkit-overflow-scrolling: touch;
	border-left: 1px solid $border-colour;
	border-right: 1px solid $border-colour;
	box-sizing: border-box;
	position: fixed;
	padding: 0;
	top: 0;
	height: 100%;
	width: $webchat-width;
	padding-top: 53px; // Same height as GOV.UK header
	z-index: 999; // Keep on top

	// 100% width on mobile
	@include media (mobile) {
		width: 100%;
	}

	.button {
		@include button ($govuk-blue);
		box-shadow: 0 2px 0 #001526;
		bottom: 0;
		text-align: center;
		font-weight: 700;
		padding-top: em(10);
		padding-bottom: em(10);
		width: 100%;
	}
}

// Place webchat on right side
.webchat__container[data-position=right] {
	left: $iframe-width;
	@include media (mobile) {
		left: 0;
	}
}

.webchat__container[aria-hidden='true'] {
	display: none;
}

.webchat-close span, .webchat__move-sides span {
	cursor: inherit;
}

// Hide button on mobile
.webchat__move-sides {
	@include media (mobile) {
		display: none;
	}
}

.webchat__header {
	position: fixed;
	top: 0;
	width: inherit;
	background-color: $govuk-blue;
	border-bottom: 1px solid $border-colour;
	height: 53px;
}

.webchat__title {
	@include bold-24;
	text-transform: none;
	position: absolute;
	top: 18px;
	left: 15px;
	color: white;
}

.webchat__content {
	box-sizing: border-box;
	height: 100%;
	overflow-y: auto;
	padding: 15px;
	background: white;
}

.webchat__footer {
	width: inherit;
	position: fixed;
	bottom: 0;
	border-top: 1px solid $grey-1;
	background-color: white;
	textarea {
		box-sizing: border-box; //not sure why this is needed
		width: 100%;
	}
}

.message__text-entry{
	padding: 15px;
}

// ========================================
// Swap bars
// ========================================

.footer-swap-bar {
	padding: 15px;
	border-top: 5px solid $govuk-blue;
	background: white;
	p {
		margin: 0;

	}
	a:visited {
		color: $govuk-blue;
	}
}

.footer-show-webchat {
	border-top: 5px solid $govuk-blue;
	background: white;
	display:none;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-hide-webchat {
	display: none;
	@include media (mobile){
		display: block;
	}
}

.webchat-hidden .footer-show-webchat {
	@include media (mobile) {
		display: block;
	}
}


// ========================================
// Styling for the chat section 
// ========================================

.message {
	@extend %contain-floats;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	margin-bottom: 15px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

// Style the author's name
.message__author {
	font-weight: 700;
	margin-bottom: 0;
}

// Styles for body text of messages
.message__body {
	max-width: 85%;
	p:last-of-type {
		margin-bottom: 0;
	}
}

// Styles for message being typed from agent
.message--in-progress {
	opacity: 0.5;
}

// Styles for agents
.message--agent {
	border-left: 5px solid $grey-1;
	padding-left: 5px;
}

// Styles for users
.message--user {
	border-right: 5px solid $govuk-blue;
	padding-right: 5px;
	
	.message__author {
		text-align: right; // User's name is right aligned
	}
	.message__body {
		float: right; // Float the message right, but keep text left aligned
	}
}

// ========================================
// Webchat CTA
// ========================================

.webchat-cta {
	background: $govuk-blue;

	margin-bottom: 15px;

	padding: 10px;

	h2 {
		margin-bottom: 15px;
	}

	h2, p, a {
		color: white;
	}

	a {
		font-weight: 700;
		margin-right: 15px;
	}

	& :last-child {
		margin-bottom: 0;
	}
}

// ========================================
// Styling for the queue page 
// ========================================

.preloader {
	margin: 15px auto;
	text-align: center;
	// height: 150px;
	padding-left: 20px;
	padding-right: 20px;
}

.preloader__image {
	width: 32px;
	height: 32px;
}
