{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">GOV.UK Web chat prototype</h1>

	<h2 class="heading-large">Web chat as iFrame</h2>

	<ul>
		<li><a href="/log-in-file-self-assessment-tax-return">GOV.UK page with CTA</a></li>
		<li><a href="/webchat/iframe?url=https://www.gov.uk/log-in-file-self-assessment-tax-return">GOV.UK page with webchat iFrame</a></li>
	</ul>

	
	

	

	<h2 class="heading-large">Web chat in new window</h2>
	<a href="" onclick="window.open('/webchat/triage', '_blank', 'toolbar=yes, scrollbars=no, resizable=yes, top=500, left=500, width=400, height=370');">Open web chat in new window</a>

	<h2 class="heading-large">Prototype kit resources</h2>
	<ul>
		<li><a href="/examples">Example pages</a></li>
	</ul>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
