{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Welcome to the GOV.UK Web chat prototype</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>This is the index.html page - we recommend you put links to key pages here.</p>

	<ul>
		<li><a href="/examples">Example pages</a></li>
	</ul>

	<h2 class="heading-large">Web chat in new window</h2>

	<ul>
		<li>
			<a href="" onclick="window.open('/webchat/triage', '_blank', 'toolbar=yes, scrollbars=no, resizable=yes, top=500, left=500, width=400, height=370');">Popup link</a>
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
