{{<layout}}

{{$pageTitle}} Start page example {{/pageTitle}}

{{$propositionHeader}}
<!-- blank for no proposition header -->
{{/propositionHeader}}

{{$headerClass}}
<!-- blank for no proposition header -->
{{/headerClass}}

{{$content}}

<main id="content" role="main">

	<div id="global-breadcrumb">
		<ol>
			<li><a href="http://www.gov.uk">Home</a></li>
			<li><a href="">Money and tax</a></li>
			<li>Self Assessment</li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Log in and file your Self Assessment tax return
			</h1>

			<div class="webchat-cta">
				<h2>Talk to an HMRC adviser online</h2>
				<p>You can use web chat instead of calling HMRC's helpline.<br><a href="#" class="open_webchat_lightbox" data-featherlight="#webchat-lightbox">Start web chat</a><a href="">I'm not interested</a></p>
				<p></p>

			</div>
			<div class="article-container group">


				<div class="content-block">
					<div class="inner">

						<p><a rel="external" href="https://online.hmrc.gov.uk/login">Log in to your online account</a> to send your tax return to HM Revenue and Customs (<abbr title="HM Revenue and Customs">HMRC</abbr>). You can go back to a tax return you’ve already started.</p>

						<p>Use the user ID and password you got when you <a href="/register-for-self-assessment">registered for Self Assessment</a> or when you set up your online account.</p>

						<div class="application-notice info-notice">
							<p>Sign in with <a rel="external" href="https://www.tax.service.gov.uk/ida/sa/login">GOV.UK Verify</a> if you’re registered with the GOV.UK Verify trial for Self Assessment - otherwise use your <abbr title="HM Revenue and Customs">HMRC</abbr> account to log in.</p>
						</div>

						<h2>Who can’t use the service</h2>

						<p>You need to <a href="/how-to-send-self-assessment-online/software-you-can-buy">buy other software</a> or <a href="/self-assessment-forms-and-helpsheets">download other forms</a> to send a Self Assessment tax return: </p>

						<ul>
							<li>for a partnership</li>
							<li>for a trust and estate</li>
							<li>if you get income from a trust, you’re a Lloyd’s underwriter, a religious minister or you need to fill in the non-residence part of the return</li>
						</ul>

						<h2>Problems with the service</h2>
						<p><abbr title="HM Revenue and Customs">HMRC</abbr> services may be slow during busy times. Check if there are any <a href="/government/publications/self-assessment-service-availability-and-issues/self-assessment-service-availability-and-issues">problems with this service</a>.</p>

						<h2>Problems logging in</h2>

						<p>You can:</p>

						<ul>
							<li><a rel="external" href="https://online.hmrc.gov.uk/user/credentials/userid">request a new user ID</a></li>
							<li><a rel="external" href="https://online.hmrc.gov.uk/user/credentials/password">request a new password</a></li>
						</ul>

						<p>If you’ve lost both your user ID and password, you can:</p>

						<ul>
							<li>
								<a rel="external" href="https://online.hmrc.gov.uk/shortforms/form/OSHGGIDInd">request new ones</a> - allow 7 days to get them by post</li>
								<li>sign up with the <a rel="external" href="https://www.tax.service.gov.uk/ida/sa/login">GOV.UK Verify</a> trial - it takes 15 minutes</li>
							</ul>

							<h3>If you’ve lost your activation code</h3>
							<p>If you lose your code within 28 days of registering, <a rel="external" href="http://www.gateway.gov.uk/Default.aspx">log in to the Government Gateway</a> with your user ID and password. Ask for a new code by following the ‘activate’ link under ‘action’.</p>

							<h3>If your code has expired</h3>
							<p>To replace an expired code, log in to <a rel="external" href="https://online.hmrc.gov.uk"><abbr title="HM Revenue and Customs">HMRC</abbr> online services</a> with your user ID and password and enrol for Self Assessment again.</p>

							<div class="application-notice info-notice">
								<p>It may take up to 10 days for your code to arrive, or 21 if you live abroad.</p>
							</div>

							<h2>Contact <abbr title="HM Revenue and Customs">HMRC</abbr>
							</h2>
							<p>Contact the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/self-assessment-online-services-helpdesk"><abbr title="HM Revenue and Customs">HMRC</abbr> online services helpdesk</a> if you need help using the service.</p>



						</div>
					</div>
					<div class="meta-data group">
						<p class="modified-date">Last updated: 24 August 2015</p>
					</div>



				</div>

				
			</div>

			<div id="webchat-lightbox">
				<h2>HMRC online help</h2>
				<p>Get help for problems relating to HMRC and tax.</p>
				<p>The current wait time is <strong>7 minutes</strong>.</p>
				<a href="webchat/iframe?url=https://www.gov.uk/log-in-file-self-assessment-tax-return" class="button">Open web chat</a>
			</div>
			<div class="column-third">

				<div class="related-links">
					<h2 class="heading-medium">Self Assessment</h2>

					<ul class="font-xsmall">
						<li><a href="#">Pay your Self Assessment tax bill</a></li>
						<li><a href="#">Self Assessment tax returns</a></li>
						<li><a href="#" class="">Self Assessment forms and helpsheets</a></li>
						<li><a href="#" class="">Get help with tax</a></li>
						<li class="related-topic"><a href="/browse/tax/self-assessment">More <span class="visuallyhidden">in Self Assessment</span></a></li>
					</ul>
				</div>

			</div>

		</div>

	</main>

	{{/content}}

	{{/layout}}
